<a href="https://colab.research.google.com/github/izzoa222/python_programming/blob/main/%EA%B9%80%EA%B8%B0%EC%A0%952025191704_9%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
print(number_list)

[1, 2, 3, 4, 5]

In [5]:
number_list=[]
for number in range(1,6):
  number_list.append(number)
print(number_list)

[1, 2, 3, 4, 5]

In [6]:
number_list = list(range(1,6))
print(number_list)

[1, 2, 3, 4, 5]

In [7]:
number_list = [number for number in range(1,6)]
print(number_list)

[1, 2, 3, 4, 5]

In [8]:
number_list = [number-1 for number in range(1,6)]
print(number_list)

[0, 1, 2, 3, 4]

In [9]:
a_list = [number for number in range(1,6) if number %2 == 1]
print(a_list)

[1, 3, 5]

In [10]:
a_list = [number for number in range(1,6) if number %2 == 1]
print(a_list)

[1, 3, 5]

In [11]:
a_list = []
for number in range(1,6):
  if number % 2 == 1:
    a_list.append(number)
print(a_list)

[1, 3, 5]

In [12]:
sentence = ["I", "Love", "Python", "Soooooo", "MUCH!!!"]
a = [word.lower() for word in sentence]
print(a)
b = [word for word in sentence if len(word) > 6]
print(b)
c = [(x, x ** 2, x ** 3) for x in range(10)]
print(c)

['i', 'love', 'python', 'soooooo', 'much!!!']
['Soooooo', 'MUCH!!!']
[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729)]

In [14]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
  for col in cols:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [15]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
  print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [16]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [17]:
word = "letters"
letter_counts = {letter: word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [18]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
print(letter_counts)

{'l': 1, 'e': 2, 's': 1, 't': 2, 'r': 1}

In [19]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
print(letter_counts)

{'l': 1, 'e': 2, 's': 1, 't': 2, 'r': 1}

In [20]:
a_set = {number for number in range(1,6) if number % 3 == 1}
print(a_set)

{1, 4}

In [21]:
def sum(x, y):
  return x+y
print(sum(1,4))
print(sum(1.1,4.1))
print(sum("hi ", "hello"))

5
5.199999999999999
hi hello

In [22]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [23]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

print(list( zip(english, french) ))
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

print(dict( zip(english, french) ))
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [24]:
def menu(wine, entree, dessert):
  return {'wine':wine, 'entree':entree, 'dessert':dessert}

menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [30]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu(entree='beef', dessert='bagel', wine='bordeaux')

menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [33]:
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

print(menu('chardonnay', 'chicken'))

print(menu('dunkelfelder', 'duck', 'doughnut'))

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [34]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

print(menu(100))
print(menu(price=100))
print(menu(price=120, entree='beef'))
print(menu(dessert='bagel', price=110))
print(menu('eighty', 'saint-pierre', 'fish'))
print(menu('hundred', wine='saint-pierre'))

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}
{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}
{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}
{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

In [41]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

print(menu(price=100, wine='saint-pierre'))

SyntaxError: positional argument follows keyword argument (<ipython-input-41-4ae822d8cfe1>, line 4)

In [45]:
def echo(anything):
  'echo returns its input argument'
  return anything

echo('happy')

help(echo)

def print_if_true(thing, check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
  """
  if check:
    print(thing)

print_if_true("happy", True)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

happy